
.backgraund{


    background-image: url("/image/admin/rawpixel.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.image{
    position:relative;

}



.upload_image{
    position: absolute;
    cursor: pointer;
    top: 21px;
    left: 0px;
    width: 91px;
}